<footer>
  <div class="">
    <h4>accepted payment methods</h4>
    <ul id="pay">
      <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
      <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
      <li><a href="#"><i class="fa fa-google-wallet"></i></a></li>
    </ul><br>

    <ul>
      <li><p>Copyright MTZ</p></li>
      <li><p id="year">&copy;</p></li>
    </ul>
  </div>

  <div class="">
    <h4>Follow Us</h4>
    <ul>
      <li> <a href="#"> <i class="fa fa-twitter-square"></i> </a> </li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
    <h4>Contact Us</h4>
    <ul>
      <li><a href="#">Help Center</a></li>
      <li><a href="#">Feedback</a></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <div class="">
    <h4>Get to know MTZ</h4>
    <ul>
      <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">About Us</a></li>
      <li> <a href="#">FAQ</a> </li>
      <li> <a href="#">Privacy Policy</a> </li>
    </ul>
  </div>

  <div class="">
    <ul>
      <li>Design and development by <a href="mailto:elonsantos63@gmail.com" class="btn-primary">@elonaire</a></li>
    </ul>
  </div>
</footer>

<script src="/js/jquery3.3.1.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/_main.js"></script>
