<div class="login">
  <svg width="50" height="20" id="svg-two">
   <polygon points="25,0 50,20 0,20" />
  </svg>
  <form action="#" method="post">
    <label for="">Username</label>
    <input type="text" placeholder="Username" name="username" value="" required>
    <label for="">Password</label>
    <input type="password" placeholder="Password" name="pwd" value="" required>
    <input type="submit" class="btn-success" name="" value="Login">
  </form>
</div>
