<div class="my-menu">
  <ul class="category">
    <svg width="50" height="20" id="svg-one">
     <polygon points="25,0 50,20 0,20" />
    </svg>
    <li><a href="#"><img src="/img/phone.png" alt="icon">&nbsp;Electronics<span class="right-two">&#10095;</span></a></li>
    <li><a href="#"><img src="/img/ephones.png" alt="icon">&nbsp;Accessories<span class="right-two">&#10095;</span></a></li>
    <li><a href="#"><img src="/img/beauty.png" alt="icon">&nbsp;Beauty &amp; Health<span class="right-two">&#10095;</span></a></li>
    <li><a href="#"><img src="/img/clothes.png" alt="icon">&nbsp;Clothing<span class="right-two">&#10095;</span></a></li>
    <li><a href="#"><img src="/img/households.png" alt="icon">&nbsp;Home<span class="right-two">&#10095;</span></a></li>
    <li><a href="#"><img src="/img/game.png" alt="icon">&nbsp;Entertainment<span class="right-two">&#10095;</span></a></li>
    <li><a href="#"><img src="/img/watch.png" alt="icon">&nbsp;Jewelery<span class="right-two">&#10095;</span></a></li>
  </ul>

  <div class="sub-category">
    <!--electronics sub-category -->
    <div class="row electronics">
        <div class="col-4">
          <h5>Electronics</h5>
          <ul>
            <li><a href="/products/electronics/systems">Sound Systems</a></li>
            <li><a href="/products/electronics/tvs">TVs</a></li>
            <li><a href="/products/electronics/phones">Phones</a></li>
            <li><a href="/products/electronics/tablets">Tablets</a></li>
            <li><a href="/products/electronics/cameras">Cameras</a></li>
          </ul>
        </div>

        <div class="col-4">
          <h5>Computers</h5>
          <ul>
            <li><a href="/products/electronics/laptops">Laptops</a></li>
            <li><a href="/products/electronics/desktops">Desktops</a></li>
            <li><a href="/products/electronics/microps">Microprocessors</a></li>
          </ul>
        </div>

        <div class="col-4">
          <h5>Others</h5>
          <ul>
            <li><a href="/products/electronics/microcs">Microcontrollers</a></li>
            <li><a href="/products/electronics/pcbs">PCBs</a></li>
          </ul>
        </div>
      </div>

      <!--Accessories sub-category -->
      <div class="row accessories">
          <div class="col-4">
            <h5>Accessories</h5>
            <ul>
              <li><a href="/products/accessories/ephones">Earphones</a></li>
              <li><a href="/products/accessories/hphones">Headphones</a></li>
              <li><a href="/products/accessories/mems">Memory cards</a></li>
              <li><a href="/products/accessories/flash">Flash drives</a></li>
              <li><a href="/products/accessories/chargers">Chargers</a></li>
              <li><a href="/products/accessories/sguards">Screen Guards</a></li>
            </ul>
          </div>

          <div class="col-4">
            <h5>Peripherals</h5>
            <ul>
              <li><a href="/products/accessories/mice">Mice</a></li>
              <li><a href="/products/accessories/keyboards">Keyboards</a></li>
              <li><a href="/products/accessories/others">Others</a></li>
            </ul>
          </div>

          <div class="col-4">

          </div>
      </div>

        <!--Beauty sub-category -->
        <div class="row beauty">
            <div class="col-4">
              <h5>Beauty Products</h5>
              <ul>
                <li><a href="/products/beauty/face">Face</a></li>
                <li><a href="/products/beauty/hair">Hair</a></li>
                <li><a href="/products/beauty/body">Body</a></li>
                <li><a href="/products/beauty/nails">Nails</a></li>
              </ul>
            </div>

            <div class="col-4">
              <h5>Health Products</h5>
              <ul>
                <li><a href="/products/health/skincare">Skincare</a></li>
                <li><a href="/products/health/dietary">Dietary</a></li>
                <li><a href="/products/health/others">Others</a></li>
              </ul>
            </div>

            <div class="col-4">

            </div>
        </div>

          <!--Clothing sub-category -->
          <div class="row clothing">
              <div class="col-4">
                <h5>Male</h5>
                <ul>
                  <li><a href="/products/clothing/male/under">Underwear</a></li>
                  <li><a href="/products/clothing/male/official">Official</a></li>
                  <li><a href="/products/clothing/male/casual">Casual</a></li>
                  <li><a href="/products/clothing/male/shoes">Shoes</a></li>
                  <li><a href="/products/clothing/male/other">Other</a></li>
                </ul>
              </div>

              <div class="col-4">
                <h5>Female</h5>
                <ul>
                  <li><a href="/products/clothing/female/dresses">Dresses</a></li>
                  <li><a href="/products/clothing/female/under">Underwear</a></li>
                  <li><a href="/products/clothing/female/official">Official</a></li>
                  <li><a href="/products/clothing/female/casual">Casual</a></li>
                  <li><a href="/products/clothing/female/shoes">Shoes</a></li>
                  <li><a href="/products/clothing/female/other">Other</a></li>
                </ul>
              </div>

              <div class="col-4">
                <h5>Kids &amp; Infants</h5>
                <ul>
                  <li><a href="/products/clothing/kids/under">Underwear</a></li>
                  <li><a href="/products/clothing/kids/official">Official wear</a></li>
                  <li><a href="/products/clothing/kids/casual">Casual wear</a></li>
                  <li><a href="/products/clothing/kids/shoes">Shoes</a></li>
                  <li><a href="/products/clothing/kids/other">Other</a></li>
                </ul>
              </div>
          </div>

            <!--home sub-category -->
            <div class="row home">
                <div class="col-4">
                  <h5>General</h5>
                  <ul>
                    <li><a href="/products/home/general/curtains">Curtains &amp; Blinders</a></li>
                    <li><a href="/products/home/general/lighting">Lighting</a></li>
                    <li><a href="/products/home/general/locks">Smart Locks</a></li>
                    <li><a href="/products/home/general/floor">Floor</a></li>
                    <li><a href="/products/home/general/paintings">Paintings</a></li>
                  </ul>
                </div>

                <div class="col-4">
                  <h5>Kitchen</h5>
                  <ul>
                    <li><a href="/products/home/kitchen/glassware">Glassware</a></li>
                    <li><a href="/products/home/kitchen/ceramic">Ceramic</a></li>
                    <li><a href="/products/home/kitchen/plastic">Plastic</a></li>
                  </ul>
                </div>

                <div class="col-4">
                  <h5>Living Room</h5>
                  <ul>
                    <li><a href="/products/home/living/dining">Dining Sets</a></li>
                    <li><a href="/products/home/living/coaches">Coaches</a></li>
                    <li><a href="/products/home/living/tables">Tables</a></li>
                    <li><a href="/products/home/living/units">Wall Units</a></li>
                  </ul>
                </div>
            </div>

              <!--entertainment sub-category -->
              <div class="row enter">
                  <div class="col-4">
                    <h5>Games</h5>
                    <ul>
                      <li><a href="/products/entertainment/games/kenyan">Kenyan</a></li>
                      <li><a href="/products/entertainment/games/pc">PC</a></li>
                      <li><a href="/products/entertainment/games/xbox">Xbox</a></li>
                      <li><a href="/products/entertainment/games/playstation">Playstation</a></li>
                      <li><a href="/products/entertainment/games/wii">Wii</a></li>
                    </ul>
                  </div>

                  <div class="col-4">
                    <h5>Movies</h5>
                    <ul>
                      <li><a href="/products/entertainment/movies/kenyan">Kenyan</a></li>
                      <li><a href="/products/entertainment/movies/hollywood">Hollywood</a></li>
                      <li><a href="/products/entertainment/movies/nollywood">Nollywood</a></li>
                      <li><a href="/products/entertainment/movies/bollywood">Bollywood</a></li>
                    </ul>
                  </div>

                  <div class="col-4">
                    <h5>Others</h5>
                    <ul>
                      <li><a href="/products/entertainment/other/consoles">Game Consoles</a></li>
                      <li><a href="/products/entertainment/other/pc">Gaming PCs</a></li>
                    </ul>
                  </div>
              </div>

                <!--jewelery sub-category -->
                <div class="row jewelery">
                    <div class="col-4">
                      <h5>Wrist</h5>
                      <ul>
                        <li><a href="/products/jewelery/watches">Watches</a></li>
                        <li><a href="/products/jewelery/bangles">Bangles</a></li>
                        <li><a href="/products/jewelery/bracelets">Bracelets</a></li>
                      </ul>
                    </div>

                    <div class="col-4">
                      <h5>Neck</h5>
                      <ul>
                        <li><a href="/products/jewelery/chains">Chains</a></li>
                        <li><a href="/products/jewelery/necklaces">Necklaces</a></li>
                      </ul>
                    </div>

                    <div class="col-4">

                    </div>
                </div>
  </div>
</div>
