<!--Trending-->
<div class="product-sec">
  <div class="elec-details">
    <a href="#"><h2>Trending</h2></a>
  </div>

  {{#each products}}
  <a href="{{request.get}}">
    <div class="product">
      <img src="../uploads/{{img}}" alt="product-img">
      <p>{{name}}</p>
      <h3>KSh.<span>{{price}}</span></h3>
    </div>
  </a>
  {{/each}}
</div>
