<div class="user">
  <svg width="50" height="20" id="svg-five">
   <polygon points="25,0 50,20 0,20" />
  </svg>
  <ul>
    <li><a href="#"></a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</div>
