<div class="all-products">
  {{#each products}}
    <div class="product">
      <a href="{{request.get}}">
        <img src="../../uploads/{{img}}" alt="product-img">
        <h3>{{name}}</h3>
        <p>Ksh.<span>{{price}}</span></p>
      </a>
    </div>
  {{/each}}
</div>
