<div class="signup">
  <div class="">

  </div>

  <div class="">
    <h3>Signup</h3>
    <form action="/user/{date}" method="post">
      <label for="">Username</label>
      <input type="text" placeholder="Username" name="username" value="" required>
      <label for="">First Name</label>
      <input type="text" placeholder="First Name" name="f_name" value="" required>
      <label for="">Last Name</label>
      <input type="text" placeholder="Last Name" name="l_name" value="" required>
      <label for="">Phone</label>
      <input type="text" placeholder="Phone" name="phone" value="" required>
      <label for="">Town/City</label>
      <input type="text" placeholder="Town/City" name="town" value="" required>
      <label for="">Email</label>
      <input type="email" placeholder="Email" name="mail" value="" required>
      <label for="">Password</label>
      <input type="password" placeholder="Password" name="pwd" value="" required>
      <label for="">Confirm Password</label>
      <input type="password" placeholder="Confirm Password" name="" value="" required>
      <input type="submit" class="btn-success" name="" value="Signup">
    </form>
  </div>

  <div class="">

  </div>
</div>
