.container{
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100%;
}

.admin-panel{
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
  height: 100%;
}

.dash{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-add{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-add div:nth-child(1){
  text-align: center;
  align-items: center;
}

.product-add div:nth-child(2){
  text-align: center;
  align-items: center;
}

.admin-sub{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.controls{

}

.controls ul{
  background-color: rgb(228,114,0);
  padding: 5px;
  list-style-type: none;
  color: rgb(185,185,255);
  height: 100%;
}

.controls ul li{
  line-height: 40px;
  font-size: 18px;
  padding-left: 4px;
  border-radius: 4px;
}

.controls ul li:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgb(223,223,223);
}

.controls ul li a{
  color: inherit;
}

.label{
  border-radius: 50%;
  color: #fff;
  padding: 3px;
  background-color: rgb(0, 228, 0);
}

.user-count{
  background-color: rgb(0, 228, 0);
  margin: 0 5px 0 5px;
  border-radius: 4px;
}

.msg-count{
  background-color: rgb(26, 26, 255);
  margin: 0 5px 0 5px;
  border-radius: 4px;
}

.order-count{
  background-color: rgb(255, 53, 255);
  margin: 0 5px 0 5px;
  border-radius: 4px;
}

.admin-sub{
  position: absolute;
}


#elec-sub,#acc-sub,#beauty-sub,#c-gender,#cl-sub,#home-sub,#general,#kitchen,#living,#enter,#games,#movies,#ent-other,#jewelery{
  display: none;
}

.product-edit{
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 0.2em;
}

.product-edit>div{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0.2em;
}

.product-edit>div:nth-child(1){
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-column-gap: 0.1em;
}

.edit-section>div{
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  text-align: center;
  background-color: #ddd;
  grid-auto-rows: 70px;
  box-shadow: 4px 4px 4px rgb(159, 159, 159);
}

.edit-options{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.1em;
}

.update-form{
  width: 150px;
  position: absolute;
  display: none;
}

.hide{
  display: none;
}
